/* ARQUIVO: style.css */

html {
    overflow-x: hidden; /* permite scroll vertical, mas evita scroll lateral */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    width: 100%;
    background-image: linear-gradient(
        to bottom right, 
        #a8a8ac, 
        #000000  
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}


/* ------------- HEADER FIXO ------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 30px 0;
}

/* Container da navegação */
.main-nav ul {
    list-style: none;
    padding: 0 40px;
    margin: 0;
    display: flex; 
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start;
}

.main-nav li {
    margin: 0 15px;
}

/* Links do menu */
.main-nav a {
    color: white; 
    text-decoration: none; 
    font-size: 1.1em;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.main-nav a i {
    margin-right: 5px;
}

.main-nav a:hover {
    color: #ffd700;
}

/* --- NOVO ESTILO: BOTÃO DE LOGIN (EMPURRADO PARA A DIREITA) --- */
.login-button {
    /* A LINHA QUE FAZ A MÁGICA com Flexbox */
    margin-left: auto; 
}

/* ---------------------------------------------------- */
/* Estilos para o link (A) (Aparência) */
.login-button a {
    background-color: #ffd700; 
    color: #333; 
    border-radius: 5px; 
    padding: 10px 15px; 
    font-weight: bold;
}

.login-button a:hover {
    background-color: #fff; 
    color: #333;
}